<div class="navigation">
  <h1>Dashboard</h1>
  <div class="search-container">
    <input 
  type="text" 
  placeholder="Search by User ID..." 
  (input)="onSearch($event)"
/>
    <ul *ngIf="searchResults?.length" class="search-results">
      <li 
        *ngFor="let user of searchResults" 
        (click)="openProfile(user.id)" 
        class="search-result-item"
      >
        {{ user.first_name }} {{ user.last_name }} (ID: {{ user.id }})
      </li>
    </ul>
  </div>
</div>

<div class="outer">
  @if(user.data.length<=0){
  <span class="loader"></span>
  <span class="loader"></span>
  <span class="loader"></span>
  <span class="loader"></span>
  <span class="loader"></span>
  <span class="loader"></span>
  }@else {

  <div class="card" *ngFor="let u of user.data" (click)="openProfile(u.id)">
    <div class="card-image">
      <img [src]="u.avatar" alt="{{u.first_name}}'s profile picture">
    </div>
    <div class="details">
      <h2>{{u.first_name}} {{u.last_name}}</h2>
      <span class="email">{{u.email}}</span>
    </div>
  </div>}
</div>

<mat-paginator
  #paginator
  class="demo-paginator"
  (page)="handlePageEvent($event)"
  [length]="length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
 
  aria-label="Select page"
></mat-paginator>


<!-- <div class="paginator">
  <button
    *ngFor="let page of pages"
    class="page-link"
    [routerLink]="['/page', page]"
    [class.active]="page === currentPage"
    (click)="getserivce(page)"
  >
    {{ page }}
  </button>
</div> -->


<!-- [disabled]="disabled"
[showFirstLastButtons]="showFirstLastButtons"
[hidePageSize]="hidePageSize" -->